In [1]:
import pandas as pd

In [42]:
litres_data = pd.read_csv("../data/litres.csv")
litres_data.head()

,title,text
0,Письма Баламута. Расторжение брака,Три произведения в одном сборнике!«Письма Бала...
1,Две жизни. Все части. Сборник в обновленной ре...,"Книга «Две жизни» – мистический роман, который..."
2,Атлант расправил плечи,К власти в США приходят социалисты и правитель...
3,Вино из одуванчиков,Войдите в светлый мир двенадцатилетнего мальчи...
4,Две жизни. Роман в четырех частях,Все части культовых «Двух жизней» Конкордии Ан...

In [43]:
litres_data.describe()

,title,text
count,13103,12084
unique,13103,11821
top,Письма Баламута. Расторжение брака,Юные герои Анатолия Алексина впервые сталкиваю...
freq,1,13

In [44]:
litres_data.title = litres_data.title.str.lower().str.strip()
litres_data.text = litres_data.text.str.lower().str.strip()
litres_data.head()

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...

In [45]:
litres_data.isna().sum(axis=0)

title       0
text     1019
dtype: int64

In [46]:
litres_data = litres_data.dropna().reset_index(drop=True)
litres_data.isna().sum(axis=0)

title    0
text     0
dtype: int64

In [48]:
print(f"Количество дубликатов в названиях: {litres_data.title.duplicated().sum()}")
print(f"Количество дубликатов в текстах: {litres_data.text.duplicated().sum()}")

Количество дубликатов в названиях: 73
Количество дубликатов в текстах: 274

In [49]:
litres_data = litres_data.drop_duplicates(subset=["title"]).reset_index(drop=True)
litres_data = litres_data.drop_duplicates(subset=['text']).reset_index(drop=True)

In [50]:
print(f"Количество дубликатов в названиях: {litres_data.title.duplicated().sum()}")
print(f"Количество дубликатов в текстах: {litres_data.text.duplicated().sum()}")

Количество дубликатов в названиях: 0
Количество дубликатов в текстах: 0

In [51]:
litres_data.describe()

,title,text
count,11743,11743
unique,11743,11743
top,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
freq,1,1

In [52]:
litres_data.head()

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...

In [53]:
litres_data.to_csv("../data/litres.csv", index=False)