In [1]:
import pandas as pd

In [2]:
litres_data = pd.read_csv("../../data/temp_data/litres.csv")
litres_data.head()

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...

In [3]:
litres_data.describe()

,title,text
count,11743,11742
unique,11743,11742
top,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
freq,1,1

In [4]:
litres_data.title = litres_data.title.str.lower().str.strip()
litres_data.text = litres_data.text.str.lower().str.strip()
litres_data.head()

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...

In [5]:
litres_data.isna().sum(axis=0)

title    0
text     1
dtype: int64

In [6]:
litres_data = litres_data.dropna().reset_index(drop=True)
litres_data.isna().sum(axis=0)

title    0
text     0
dtype: int64

In [7]:
print(f"Количество дубликатов в названиях: {litres_data.title.duplicated().sum()}")
print(f"Количество дубликатов в текстах: {litres_data.text.duplicated().sum()}")

Количество дубликатов в названиях: 0
Количество дубликатов в текстах: 0

In [8]:
litres_data = litres_data.drop_duplicates(subset=["title"]).reset_index(drop=True)
litres_data = litres_data.drop_duplicates(subset=['text']).reset_index(drop=True)

In [9]:
print(f"Количество дубликатов в названиях: {litres_data.title.duplicated().sum()}")
print(f"Количество дубликатов в текстах: {litres_data.text.duplicated().sum()}")

Количество дубликатов в названиях: 0
Количество дубликатов в текстах: 0

In [10]:
litres_data.describe()

,title,text
count,11742,11742
unique,11742,11742
top,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
freq,1,1

In [11]:
litres_data.head()

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...

In [12]:
litres_data.to_csv("../data/litres.csv", index=False)

In [13]:
another_data = pd.read_csv("../../data/temp_data/data_lit_proza.csv")

In [15]:
all_data = pd.concat([litres_data, another_data])

In [16]:
all_data.reset_index(drop=True, inplace=True)

In [17]:
all_data

,title,text
0,письма баламута. расторжение брака,три произведения в одном сборнике!«письма бала...
1,две жизни. все части. сборник в обновленной ре...,"книга «две жизни» – мистический роман, который..."
2,атлант расправил плечи,к власти в сша приходят социалисты и правитель...
3,вино из одуванчиков,войдите в светлый мир двенадцатилетнего мальчи...
4,две жизни. роман в четырех частях,все части культовых «двух жизней» конкордии ан...
...,...,...
26886,подтяжки,это произошло на именинах. пока жена хлопотала...
26887,как хорошо быть человеком!,в тот вечер я приехал домой рано. припарковавш...
26888,глава№18.,глава№18. [серж юрецкий] версия для печати ре...
26889,приложение v к снг-овому словарику,российская демократическая мода 1. демосезонны...
26890,красивые письма,"это случай из молодости, когда я дружил со сво..."

In [18]:
all_data.to_csv("../data/all_data.csv", index=False)